<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laoxie.mapper.UserMapper">
    <resultMap id="BaseMap" type="com.laoxie.entity.UserInfo">
        <result column="user_name" property="userName"/>
        <result column="age" property="age"/>
    </resultMap>
    <select id="getUserInfos" resultMap="BaseMap">
        select *
        from user_info
        where user_name=#{name}
    </select>

    <!--存储过程的使用-->
    
</mapper>